/* set the settings for the compatibility content section */
.compatibility-content{
    height: 100vh;
    background-image: url('../assets/space.jpeg');
    background-size: cover;
    background-position: center;
    color: var(--main-light-color);
    text-align: center;
    z-index:0;
}

/* shooting star */
.compatibility-content .stars-container .star {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 4px;
    height:4px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255 255 255 / 10%),
    0 0 0 8px rgba(255 255 255 / 10%),
    0 0 20px rgba(255 255 255 / 100%);
    pointer-events: none;
    animation: animate 3s linear infinite;
   
}

/* adds a line element before each shooting star */
.compatibility-content .star::before {
    content:"";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height:3px;
    background:linear-gradient(90deg,#fff, transparent);
}

/* position and animation properties of the 10 shooting stars */
.compatibility-content .star:nth-child(1) {
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0s;
    animation-duration: 1s;
}

.compatibility-content .star:nth-child(2) {
    top: 0;
    right: 80px;
    left: initial;
    animation-delay: 0.2;
    animation-duration: 3s;
}

.compatibility-content .star:nth-child(3) {
    top: 80px;
    right: 0;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
}

.compatibility-content .star:nth-child(4) {
    top: 0;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}

.compatibility-content .star:nth-child(5) {
    top: 0;
    right: 400px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}

.compatibility-content  .star:nth-child(6) {
    top: 0;
    right: 600px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}

.compatibility-content .star:nth-child(7) {
    top: 300px;
    right:0;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 1.75s;
}

.compatibility-content .star:nth-child(8) {
    top: 0;
    right:700px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
}

.compatibility-content .star:nth-child(9) {
    top: 0;
    right:1000px;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 2.25s;
}

.compatibility-content .star:nth-child(10) {
    top: 0;
    right:450px;
    left: initial;
    animation-delay: 2.6s;
    animation-duration: 2.25s;
}
 
/* shooting star animation */
@keyframes animate {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;

    }
}

/* header */
.compatibility-content #header {
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    z-index: 1;
}

.compatibility-content .header{
    margin: 1.5vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 17.5vh;
    width: 50vw;
    max-width: 400px;
    min-width: 340px;
    align-items: center;
}

.compatibility-content .shape-left {
    height: 17.5vh;
    width: 17.5vh;
    border: 3px dotted white;
    border-radius: 10%;
    z-index: 1;   
    margin-left: 0; 
}

.compatibility-content .shape-right {
    height: 17.5vh;
    width: 17.5vh;
    border: 3px dotted white;
    border-radius: 10%;
    z-index: 1;   
    margin-right: 0;
}

.compatibility-content .ampersand {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 80px;
    color:#fff;
    z-index: 1;
}

.compatibility-content .sign-name {
    color: #fff;
    margin-top: 150px;
    font-size: x-large;
}

.compatibility-content .zodiac-sign {
    font-size: 35px;
    color: #fff;
}

.compatibility-content .menu {
    height: 60vh;
    width: 60vw;
    min-width: 460px;
    max-width: 660px;
    margin: 0 auto;
    padding:1em;
    background: rgb(255 255 255 / 24%);
    box-shadow: 
        0 6px 30px 0
        rgb(0 0 0 / 37%);
    backdrop-filter: blur(15px);
    border: 
        1px solid
        rgba(255, 255, 255, 0.18);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

/* .compatibility-content .menu {
    text-decoration: none;
    color: #f0e9e9;
} */

.compatibility-content .menu h3 {
    color: #fff;
    margin: 0.4em 0 0 0;
}

.compatibility-content .menu > div {
    margin:0.2em;
    cursor: pointer;
    width: same-as-height;
    height: 15vh;
    padding: 1.5vh;
    background:    
        rgba(255,255,255,20%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.2s;
}

.compatibility-content .menu >div:hover {
    background: rgba(255 255 255 / 50%);
    transform: scale(1.1);
    box-shadow: 
        0 8px 32px 0
        rgb(0 0 0 / 37%);
    color: #fff;
}

/*
.compatibility-content #compatibility-pop{
    margin-top: 1px;
    position:fixed;
    align-items: center;
    justify-content: center;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
} */

.compatibility-content .compatibility-popup {
    position: absolute;
    background-blend-mode: normal, soft-light;
    -webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(14px);
    background-color: rgba(255,255,255 0.3);
    color: #dbdbdb;
    font-size: large;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    width: 60%;
    height: 60%;
    margin-left: 20%;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: none;
    animation: rotate 2s cubic-bezier(0.25, 0.46, 0.45,0.94) both;
}

.compatibility-content .compatibility-popup-close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

@keyframes rotate {
    0%{
        transform: rotate(-360deg);
        opacity: 0;
    }
    
    100%{
        transform: rotate(0);
        opacity: 1;
    }
    
}

#compatability-popup-new.visible {
    visibility: visible;
    opacity: 1;
}

.compatability-popup-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#close-compatability-popup-new {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#check-compatability-button {
    font-family: Inter, sans-serif !important;
    font-weight: bold;
    margin: auto;
    font-size: 1em;
    padding: 1%;
    color: var(--main-dark-color);
    border: 2px solid #8c67b1;
    border-radius: 50px;
    text-decoration: none;
    background-color: #8c67b1;
    width: 30%;
    text-align: center;
}

#check-compatability-button:disabled {
    background-color: #c994fd;
    opacity: 50%;
}


#check-compatability-button:hover {
    background-color: #c994fd;
}

#check-compatability-button:active {
    background-color: #eedcff;
}

@media screen and (width <= 600px) {

    .compatibility-content .header{
        margin: 0;
        min-width: 0;
        width: 305px;
    }

    .compatibility-content .shape-left {
        height: 15vh;
        width: 15vh;
    }
    
    .compatibility-content .shape-right {
        height: 15vh;
        width: 15vh;
    }
    
    .compatibility-content .ampersand {
        font-size: 50px;
    }

    .compatibility-content .menu {
        min-width: 0;
        width: 75vw;
        height: 70vh;
        grid-template-columns: repeat(3, 1fr);
        padding: 0;
        margin: auto;
    }

    .compatibility-content .menu > div {
        width: 22.5vw;
        height: 15vh;
        padding: 0;
        margin: 1vw;
        padding: 0.3vw
    }

    .compatibility-content .menu > div > *{
        margin: 0;
    }

    .compatibility-content .zodiac-sign {
        font-size: 30px;
    }

}