.faq {
    min-height: 100vh;
    background-image: url('../assets/settings-background.jpeg');
    background-size: cover;
    background-position: center;
    color: var(--main-light-color);
    text-align: left;
}

.title-faq{
    font: 3vh Lora, serif;
    color: var(--main-light-color);
    text-align: center;
    font-weight: bold;
}

.faq h2 {
    font: 2vh Inter, sans-serif;
    color: var(--main-light-color);
    margin-left: 15vh;
    margin-right: 10vh;
    font-weight: bold;
}

.faq p {
    font: 1.8vh Lora, serif;
    color:var(--main-light-color);
    margin-left: 20vh;
    margin-right: 10vh;
}

.bullet-point{
    font: 1.8vh Lora, serif;
    color:var(--main-light-color);
    margin-left: 20vh;
}

.steps{
    font: 1.8vh Lora, serif;
    color:var(--main-light-color);
    margin-left: 20vh;
}