:root {
    --main-dark-color: #282525;
    --main-light-color: #EDEADC;
    --main-dark-blue: #0C134F;
    --main-light-blue: #1D267D;
    --main-dark-purple: #5C469C;
    --main-light-purple: #D4ADFC;
}

html {
    scroll-snap-type: y mandatory;
    overflow: scroll;
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
    overflow-x: hidden;
}

body {
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.home-content {
    height: 100vh;
    background-color: var(--main-dark-blue);
}

.horoscope-content {
    height: 100vh; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nav-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, var(--main-light-blue) 30%, transparent 70%);
    transition: background-position 1s;
    pointer-events: none;
    z-index: 2;
}

#nav-button {
    pointer-events: all;
    margin: 2vw;
    align-self: center;
    color: var(--main-light-color);
    cursor: pointer;
}

/* sidebar */
.close-symbol {
    font-size: xx-large;
    font-weight: 10;
    color: #edeadc;
    margin-left: 20px;
}

/* remove the default underline when using <a> */
.close-button {
    text-decoration: none;
}

.nav-content {
    padding-left: 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: opacity 1.3s;
    transition: visibility 0s;
}

.nav a {
    text-decoration: none;
    pointer-events: all;
}

.nav h1 {
    margin: 10px; 
    font-size: 60px;
    color: #edeadc;
    text-align: left;
    font-weight: 200;
    font-family: Inter, sans-serif;
    margin-bottom: 5vh;
}

.nav h1:hover {
    color: var(--main-light-purple);
}

.nav {
    flex-basis: 40vw;
}

.subheading {
    font-family: Lora, serif;
    font-style: italic;  
    font-size: xx-large;
    color: #edeadc;
}

.option {
    text-decoration: none;
}

/* highlight new daily report */
.highlight {
    color: #FEBD38 !important;
}

.icon-hide {
    display: none !important;
}

.nav-hide {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

.nav-show {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear 0.2s;
}

.nav-background-hide {
    background-position: right;
}

.nav-show-background {
    background-position: left;
}

/* shooting star */
.stars-container .star {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 4px;
    height:4px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255 255 255 / 10%),
    0 0 0 8px rgba(255 255 255 / 10%),
    0 0 20px rgba(255 255 255 / 100%);
    pointer-events: none;
    animation: animate 3s linear infinite;
   
}

/* adds a line element before each shooting star */
.star::before {
    content:"";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height:3px;
    background:linear-gradient(90deg,#fff, transparent);
}

/* position and animation properties of the 10 shooting stars */
.star:nth-child(1) {
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0s;
    animation-duration: 1s;
}

.star:nth-child(2) {
    top: 0;
    right: 80px;
    left: initial;
    animation-delay: 0.2;
    animation-duration: 3s;
}

.star:nth-child(3) {
    top: 80px;
    right: 0;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
}

.star:nth-child(4) {
    top: 0;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}

.star:nth-child(5) {
    top: 0;
    right: 400px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}

.star:nth-child(6) {
    top: 0;
    right: 600px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}

.star:nth-child(7) {
    top: 300px;
    right:0;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 1.75s;
}

.star:nth-child(8) {
    top: 0;
    right:700px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
}

.star:nth-child(9) {
    top: 0;
    right:1000px;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 2.25s;
}

.star:nth-child(10) {
    top: 0;
    right:450px;
    left: initial;
    animation-delay: 2.6s;
    animation-duration: 2.25s;
}
 
/* shooting star animation */
@keyframes animate {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}

.site-content {
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
}

.title-box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-reminder {
    display: flex !important;
    justify-content: center;
}

#scroll {
    color: var(--main-light-color);
    font: 20px Lora, serif;
    margin-top: 23vh;
}

.title-content {
    margin: auto;
    display: flex;
    flex-direction: row;
}

.title-text {
    font: 6.7vw Lora, serif;
    align-self: center;
    color: var(--main-light-color);
}

.title-logo {
    height: 14vw;
    width: 14vw;
    padding-left: 2.8vw;
    align-self: center;
}

.text-box {
    display: flex;
    justify-content: center;
    background-color: #282525;
    padding: 15px;
}

.text-box>p {
    color: white;
    font: 20px Roboto-monospace, monospace;
}

.bolded {
    font-weight: bold;
}

.flex-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;

}

button, .button {
    font-family: Inter, sans-serif !important;
    font-weight: bold;
    font-size: 1em;
    color: var(--main-dark-color);
    border: 2px solid #8c67b1;
    border-radius: 10px;
    text-decoration: none;
    background-color: #8c67b1;
    text-align: center;
}

button:hover, .button:hover {
    background: var(--main-light-color);
}

#horoscope-button {
    margin: auto;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0 0 0 / 70%);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    padding: 20px;
    padding-top: 60px;
    background: var(--main-dark-purple);
    opacity: 0.9;
    border-radius: 5px;
    width: 30vw;
    height: 70vh;
    overflow-y: scroll;
    position: relative;
    color: white;
    text-align: center;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.popup .close:hover {
    color: #8c67b1;
}

.popup .daily-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.popup .daily-title {
    color: white;
}

.popup .daily-date {
    text-align: center;
    color: white;
}

.popup p {
    text-align: left;
    margin-left: 6%;
    margin-right: 6%;
    overflow: auto;
    font-family: Roboto-monospace, monospace;
}

.share-btn {
    background-color: var(--main-light-purple);
    border: none;
    padding: 10px 32px;
    margin-top: 2%;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

#horoscope-detect{
    color: var(--main-light-color);
    text-align: center;
    font: calc(12px + 1.5vw) Lora, serif;
    margin: auto;
}


@media screen and (width <= 1100px) {
    .popup {
        width: 40vw;
    }
}

@media screen and (width <= 800px) {
    .popup {
        width: 50vw;
    }
}

@media screen and (width <= 600px) {
    /* reducing font size for mobile devices */
    .nav h1 {
        font-size: 40px;
    }
  
    .subheading {
        font-size: large;
    }

    .popup {
        width: 70vw;
    }
  
    .title-content {
        flex-direction: column;
    }

    .title-text {
        font: 10vw Lora, serif;
    }
  
    .title-logo {
        height: 25vw;
        width: 25vw;
        padding-left: 0;
        padding-top: 2.8vw;
    }
  
    .button {
        width: 80px;
    }
  
    .text-box>p {
        font: 16px Roboto-monospace, monospace;
    }

    /* Adjusting grid layout for mobile */
    .flex-container {
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, 1fr);
    }

    .nav-content {
        padding-left: 5vw; /* Add left padding to create spacing */
        display: none;
        flex-direction: row;
        align-items: center;
        height: 100%;
        width: 100%;
        transition: opacity 1.3s;
        transition: visibility 0s;
    }
      
    #nav-button {
        display: none;
        pointer-events: all;
        margin: 1vw; /* Reduce the margin to make the icon smaller */
        align-self: center;
        color: var(--main-light-color);
        cursor: pointer;
    }

    .nav-container{
        display: none;
    }

    #scroll {
        margin-top: 15vh;
    }
}
