.settings-content {
    background-image: url('../assets/settings-background.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: var(--main-light-color);
    text-align: center;
}

.settings-menu-background {
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    padding-bottom: 5%;
    background-color: rgba(40 37 37 / 50%);
}

.settings-content h1 {
    font: 64px Lora, serif;
    margin-bottom: 2vh;
}

.current-profile p {
    font: 36px Lora, serif;
}

.settings-content h2 {
    font: 36px Inter, sans-serif;
    text-decoration: underline;
}

.settings-content label {
    font: 30px Inter, sans-serif;
}

.settings-content input {
    height: 20px;
}

.clear-profile {
    margin-top: 10vh;
}

.clear-profile p {
    display: inline;
    font: 18px Inter, sans-serif;
}

.clear-profile button {
    background: none;
    border: none;
    padding: 0;
    color: var(--main-light-color);
    text-decoration: underline;
    cursor: pointer;
    font: 18px Inter, sans-serif;
}

.update-profile > div {
    margin-bottom: 5vh;
}

select {
    height: 25px;
}

input[type="submit"] {
    padding: 4px, 5px, 10px, 10px;
    margin: 4px 2px;
    cursor: pointer;
    height: 25px;
}

@media screen and (width <= 600px) {
    .settings-content h1 {
        font: 32px Lora, serif;
    }
  
    .settings-content h2 {
        font: 24px Inter, sans-serif;
    }
  
    .settings-content p {
        font: 16px Inter, sans-serif;
    }

    /* reducing edit button size */
    .edit-button {
        height: 20px;
    }
}